<div class="main-page-wrapper">

  <div class="theme-inner-banner">
    <img src="../../../assets/images/shape/13.png" alt="" class="bg-shape">
    <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three">
    <div class="container">
      <h2 class="title">Our Class</h2>
    </div> 
  </div> 

  <div class="section-spacing our-classes">
    <div class="main-container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/class/1.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> October 20, 2018</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4:30 pm -7:30Pm </li>
              </ul>
              <h6><a href="class-details.html">Senior Performing Arts Classes I & II</a></h6>
              <p>Classes are designed for senior high school students. Our most advanced dancers strive to reach </p>
              <a href="class-details.html" class="theme-button-two">Explore more <span></span></a>
            </div>
          </div> 
        </div> 
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/class/2.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> October 20, 2018</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4:30 pm -7:30Pm </li>
              </ul>
              <h6><a href="class-details.html">Arts Classes I & II</a></h6>
              <p>Classes are designed for senior high school students. Our most advanced dancers strive to reach </p>
              <a href="class-details.html" class="theme-button-two">Explore more <span></span></a>
            </div>
          </div> 
        </div> 
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/class/3.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> October 20, 2018</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4:30 pm -7:30Pm </li>
              </ul>
              <h6><a href="class-details.html">Contemporary/Lyrical</a></h6>
              <p>Classes are designed for senior high school students. Our most advanced dancers strive to reach </p>
              <a href="class-details.html" class="theme-button-two">Explore more <span></span></a>
            </div>
          </div> 
        </div> 
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/class/4.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> October 20, 2018</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4:30 pm -7:30Pm </li>
              </ul>
              <h6><a href="class-details.html">Senior Performing </a></h6>
              <p>Classes are designed for senior high school students. Our most advanced dancers strive to reach </p>
              <a href="class-details.html" class="theme-button-two">Explore more <span></span></a>
            </div>
          </div> 
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/class/5.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> October 20, 2018</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4:30 pm -7:30Pm </li>
              </ul>
              <h6><a href="class-details.html">Contemporary/Lyrical</a></h6>
              <p>Classes are designed for senior high school students. Our most advanced dancers strive to reach </p>
              <a href="class-details.html" class="theme-button-two">Explore more <span></span></a>
            </div>
          </div> 
        </div> 
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/class/6.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> October 20, 2018</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4:30 pm -7:30Pm </li>
              </ul>
              <h6><a href="class-details.html">Senior Performing </a></h6>
              <p>Classes are designed for senior high school students. Our most advanced dancers strive to reach </p>
              <a href="class-details.html" class="theme-button-two">Explore more <span></span></a>
            </div>
          </div>
        </div> 
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/class/7.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> October 20, 2018</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4:30 pm -7:30Pm </li>
              </ul>
              <h6><a href="class-details.html">Arts Classes I & II</a></h6>
              <p>Classes are designed for senior high school students. Our most advanced dancers strive to reach </p>
              <a href="class-details.html" class="theme-button-two">Explore more <span></span></a>
            </div>
          </div> 
        </div> 
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/class/8.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> October 20, 2018</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4:30 pm -7:30Pm </li>
              </ul>
              <h6><a href="class-details.html">Hip-hop dance refers to street dance</a></h6>
              <p>Classes are designed for senior high school students. Our most advanced dancers strive to reach </p>
              <a href="class-details.html" class="theme-button-two">Explore more <span></span></a>
            </div>
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 

  <div class="section-spacing">
    <div class="who-can-attend">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="theme-title-one">
              <h2 class="main-title">Who can attend?</h2>
            </div> 
            <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-video fancybox"> <span class="flaticon-003-play-button"></span></a>
          </div>
          <div class="col-lg-7">
            <div class="text">
              <p>Our mission is to INSPIRE each individual and instill an appreciation and love for the beautiful art of DANCE as well as the joy of PERFORMANCE. Voted ‘Best of Clark County 2016’ and CONVENIENTLY located in Salmon Creek, </p>
              <p>Dance Fusion SPECIALIZES in Ballet, Tap, Jazz, Contemporary, Hip Hop, Lyrical, Theater, Acro and Fitness for ages 3 to ageless!</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="section-spacing section-spacing-bottom our-feature-one">
    <img src="../../../assets/images/shape/1.png" alt="" class="shape">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="theme-title-one">
            <h6 class="upper-title">OUTSTANDING performance </h6>
            <h2 class="main-title">Dnce Academy offers quality dance instruction done with care</h2>
          </div> 
          <a href="#" class="theme-button-one button--tamaya color-one" data-text="Learn More"><span>Learn More</span></a>
        </div> 
        <div class="col-lg-6">
          <div class="single-block" data-aos="fade-up" data-aos-delay="150">
            <h6>Pre-Ballet </h6>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="single-block" data-aos="fade-up" data-aos-delay="250">
            <h6>Musical Theatre</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div> 
    </div> 
  </div> 
  <app-scrollToTop></app-scrollToTop>
  

</div>