<div class="main-page-wrapper">

  <div class="theme-inner-banner">
    <img style="width: 100%;height: 50rem;" src="../../../assets/images/Krishnamahima sanpada/ER4A0331.JPG" alt="" class="bg-shape"> 
    <!-- <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three"> -->
    <div class="container">
      <h2 class="title text-white">Our Class</h2>
    </div> 
  </div> 

  <div class="section-spacing our-classes">
    <div class="main-container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-sm-4">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/SNM Tihai workshop/20180908_173729.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i>September, 2006</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4 pm - 9 pm </li>
              </ul>
              <h6><a href="class-details.html">Dombivli Class</a></h6>
              <p>Classes are designed for girls aged 6 years and above. All our mentors are highly qualified and are teaching since last 15 years.</p>
              <!-- <a href="class-details.html" class="theme-button-two">Explore more <span></span></a> -->
            </div>
          </div> 
        </div> 
        <div class="col-xl-4 col-lg-4 col-sm-4">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/SNM Tihai workshop/20180908_204848.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i>May, 2014</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4 pm - 9 pm </li>
              </ul>
              <h6><a href="class-details.html">Sanpada Class</a></h6>
              <p>Classes are designed for girls aged 6 years and above. All our mentors are highly qualified and are teaching since last 6 years. </p>
              <!-- <a href="class-details.html" class="theme-button-two">Explore more <span></span></a> -->
            </div>
          </div> 
        </div>  
        <div class="col-xl-4 col-lg-4 col-sm-4">
          <div class="single-block">
            <div class="img-box"><img src="../../../assets/images/SNM Tihai workshop/20180908_205125.jpg" alt=""></div>
            <div class="text">
              <ul class="clearfix">
                <li><i class="fa fa-calendar" aria-hidden="true"></i> March, 2019</li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 4 pm - 9 pm </li>
              </ul>
              <h6><a href="class-details.html">Koperkhairne Class</a></h6>
              <p>Classes are designed for girls aged 6 years and above. All our mentors are highly qualified and are teaching since last 2 years. </p>
              <!-- <a href="class-details.html" class="theme-button-two">Explore more <span></span></a> -->
            </div>
          </div> 
        </div>            
      </div> 
    </div> 
  </div> 

  <div class="section-spacing mb-5">
    <div class="who-can-attend">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="theme-title-one">
              <h2 class="main-title">Who can attend?</h2>
            </div> 
            <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-video fancybox"> <span class="flaticon-003-play-button"></span></a>
          </div>
          <div class="col-lg-7">
            <div class="text">
              <p>Our mission is to inspire each individual and instill an appreaciation and love for the beautiful art of DANCE as well as the joy of performance. </p>
              <p>Siddhi Nrityakala Mandir specialises in KATHAK which is an ancient classical dance form. SNM mentors not only prepare students technically to excel the prestigious Akhil Bhartiya Gandharva Mahavidyala examinations but also prepare them for various competitions and programs.</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <!-- <div class="section-spacing section-spacing-bottom our-feature-one">
    <img src="../../../assets/images/shape/1.png" alt="" class="shape">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="theme-title-one">
            <h6 class="upper-title">OUTSTANDING performance </h6>
            <h2 class="main-title">Dnce Academy offers quality dance instruction done with care</h2>
          </div> 
          <a href="#" class="theme-button-one button--tamaya color-one" data-text="Learn More"><span>Learn More</span></a>
        </div> 
        <div class="col-lg-6">
          <div class="single-block" data-aos="fade-up" data-aos-delay="150">
            <h6>Pre-Ballet </h6>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="single-block" data-aos="fade-up" data-aos-delay="250">
            <h6>Musical Theatre</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div> 
    </div> 
  </div>  -->
  <app-whatsapp></app-whatsapp>
  <app-scrollToTop></app-scrollToTop>
  

</div>