<div class="main-page-wrapper">

  <div class="theme-inner-banner">
    <img height="885px" width="3840px" src="../../../assets/images/Nrityavilay/RAJ_5480.JPG" alt="" class="bg-shape">
  </div>

  <div class="section-spacing section-spacing-bottom">
    <div class="container">
      <div class="section-spacing about-us">
        <img src="../../../assets/images/shape/3.png" alt="" class="shape-two">
        <div class="main-container clearfix">
          <div class="inner-container left-content">
            <img src="../../../assets/images/shape/2.png" alt="" class="shape" data-aos="zoom-in-up"
              data-aos-duration="1000" data-aos-delay="150">
            <div class="inner-col">
              <div class="img-box">
                <div class="dot" data-aos="fade-up" data-aos-delay="150"></div>
                <div class="dot" data-aos="fade-up" data-aos-delay="350"></div>
                <div class="dot" data-aos="fade-up" data-aos-delay="550"></div>
                <div class="dot" data-aos="fade-up" data-aos-delay="750"></div>
                <img style="width: 657px;" src="../../../assets/images/murti/RAJ_5483.JPG" alt="">
              </div>
            </div>
          </div>

          <div class="inner-container right-content">
            <div class="wrapper">
              <div class="theme-title-one">
                <h3 class="upper-title">Kathak</h3>
                <!-- <h2 class="main-title">Join A Global Dance Community</h2> -->
              </div>
              <p class="h5">The classical Indian dance form of Kathak originated in the northern regions of the country
                and is narrative in nature. The term 'Kathak' has been derived form the Sanskrit word 'Katha', which
                means
                a story. “Katha kahe so Kathak kahalave”
              </p><br>
              <p class="h5">
                “Kathak” literally means a storyteller. Kathaka is the name of the community of musicians and dancers.
                These Kathakas wandered around the countryside narrating the mythological stories to the people through
                dance, music and poetry; all these arts are very closely associated with each other. This act of
                storytelling further established as an art form, which popularized as ‘Kathak.
              </p><br>
              <p class="h5"> Swift Pirouettes (Bhramaris), Vigorous footwork (Padanyas), elegant stances (Thaat),
                Graceful
                Gatnikas,
                Descriptive Gatbhavas and innovative use of bhav in abhinaya characterize Kathak. The sharp yet fluid
                movements synchronised with deft and brisk spins, unleashes a visual splendour onstage taking audiences
                on
                a spiritual journey.
              </p><br>
              <p class="h5">
                Vandana, Utaan, Thaat, Amad, Tode-tukade, Kavitta, Tihaai, Paran, Chakkardar, Gatnikas, Gatbhava,
                Tatkar,
                Thumaries, Bhajans, Kajari, Hori, Tarana, Tilwat, Chaturang, Drupad, Ashtapadis are the components of
                Kathak.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-whatsapp></app-whatsapp>
  <app-scrollToTop></app-scrollToTop>
</div>