<div class="top-header-section">
  <header class="theme-main-menu clearfix" [ngClass]="{
      'dark-color':isLogin == false
    }">
    <div class="logo"><a routerLink="/home"><img src="../../../assets/images/logo/logo.png" alt=""></a></div>

    <div class="right-widget">
      <ul class="clearfix">
        <li class="cart-button"><a routerLink="/home"><i class="flaticon-001-shopping-bag"></i></a></li>
        <li class="search-option">
          <div class="dropdown">
            <button type="button" class="dropdown-button" data-toggle="dropdown"><i
                class="flaticon-002-search"></i></button>
            <form action="#" class="dropdown-menu dropdown-menu-right">
              <input type="text" Placeholder="Enter Your Search">
              <button><i class="fa fa-search"></i></button>
            </form>
          </div>
        </li>
      </ul>
    </div>


    <div class="menu-wrapper">
      <nav id="mega-menu-holder" class="clearfix">
        <ul class="clearfix">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/founder">Founder</a></li>
          <li><a routerLink="/faculty">Faculty</a></li>
          <li><a>Events</a>
            <ul class="dropdown">
              <li><a routerLink="/event">Events</a></li>
              <li><a routerLink="/event-details">Events Details</a></li>
              <li><a href="#">Third Level menu</a>
                <ul>
                  <li><a href="#">Demo one</a></li>
                  <li><a href="#">Demo two</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a>Our Classes</a>
            <ul class="dropdown">
              <li><a routerLink="/our-class">Our Class</a></li>
              <li><a routerLink="/class-details">Class Details</a></li>
            </ul>
          </li>
          <li><a>Pages</a>
            <ul class="dropdown">
              <li><a routerLink="/about-us">About Us</a></li>
              <li><a routerLink="/our-studio">Our Studio</a></li>
              <li><a routerLink="/portfolio">Protfolio</a></li>
              <li><a routerLink="/faq">Faq</a></li>
            </ul>
          </li>
          <li><a>Blog</a>
            <ul class="dropdown">
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/blog-details">Blog details</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>