<div class="main-page-wrapper">

  <!-- <div id="loader-wrapper">
    <div id="loader">
      <span class="loader-inner"></span>
    </div>
  </div> -->

  <div class="theme-inner-banner">
    <img height="885px" width="3840px" src="../../../assets/images/Nrutyanaad/DSC_8478.jpg" alt="" class="bg-shape">
    <!-- <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three"> -->
    <div class="container" style="margin-left: 79px;">
      <h2 class="title text-white">Contact</h2>
    </div>
  </div>

  <div class="section-spacing section-spacing-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6">
          <div class="contact-form">
              <form [formGroup]="contactForm" class="form-validation" (ngSubmit)="onSubmit()">
                <h5 class="title">Get In Touch With Us</h5>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" placeholder="Your Name *" name="name" formControlName="name">
                  </div>
                  <div class="col-md-6">
                    <input type="email" placeholder="Your Email *" name="email" formControlName="email">
                  </div>
                  <div class="col-12">
                    <input type="tel" placeholder="Contact *" name="contact" formControlName="contact">
                  </div>
                </div>
                <textarea placeholder="Type your message *" name="message" formControlName="message"></textarea>
                <button [disabled]="!contactForm.valid" type="submit">Submit Request</button>
              </form>
            <!-- <div class="col-lg-3 col-md-4">
              <div class="contact-meta-data">
                <h6 class="title">Meta</h6>
                <ul>
                  <li><a href="#">Log in</a></li>
                  <li><a href="#">Entries RSS</a></li>
                  <li><a href="#">Comments RSS</a></li>
                  <li><a href="#">WordPress.org</a></li>
                  <li><a href="#">Team</a></li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 order-md-last">
          <div class="contact-address">
            <h6 class="title">Easy Contact</h6>
            <ul>
              <li>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <h6>Email:</h6>
                <p>shraddhabhide16@gmail.com</p>
              </li>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>+91 9892956110</p>
                <p>+91 7045771821</p>                
              </li>              
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h6>Address 1</h6>
                <p>Siddhi Nrityakala Mandir, Shop no - 21, Tsp Heights, Sunil Nagar, Near Sunil nagar auto stand, Dombivali east, 421201</p>
              </li>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <h6>Address 2</h6>
                <p>Krishna Complex, Shop no - 1, Plot no - 7, Sector - 15, Sanpada, 400705</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 order-md-first">
          <div class="google-map">
            <div class="map-canvas"></div>
          </div>
        </div>
      </div>
   

      <div class="alert-wrapper" id="alert-success">
        <div id="success">
          <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
          <div class="wrapper">
            <p>Your message was sent successfully.</p>
          </div>
        </div>
      </div>
      <div class="alert-wrapper" id="alert-error">
        <div id="error">
          <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
          <div class="wrapper">
            <p>Sorry!Something Went Wrong.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-whatsapp></app-whatsapp>
  <app-scrollToTop></app-scrollToTop>
</div>