<div class="main-page-wrapper">

 


  <div class="theme-inner-banner">
    <img src="../../../assets/images/shape/13.png" alt="" class="bg-shape">
    <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three">
    <div class="container">
      <h2 class="title">Event details</h2>
    </div> 
  </div> 

  <div class="section-spacing">
    <div class="event-details">
      <div class="event-uppper-text">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 order-lg-last">
              <div class="text-wrapper">
                <img src="../../../assets/images/shape/25.png" alt="" class="shape-one">
                <div class="theme-title-one">
                  <h2 class="main-title">Classical Odissi Friday performance </h2>
                </div> <!-- /.theme-title-one -->
                <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p> <br>
                <p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh</p>
                <a href="#" class="button-one">Free</a>
              </div> <!-- /.text-wrapper -->
            </div>
            <div class="col-lg-6 order-lg-first"><img src="../../../assets/images/shape/24.png" alt="" class="event-img"></div>
          </div>

          <div class="row event-bottom-data">
            <div class="col-md-6">
              <div class="details-box">
                <h6 class="box-title">Event Details</h6>
                <table>
                  <tr>
                    <td>Start:</td>
                    <td>Sep 26 @ 08:00 am</td>
                  </tr>
                  <tr>
                    <td>End:</td>
                    <td>Sep 10 @ 05:00 pm</td>
                  </tr>
                  <tr class="color-fix">
                    <td>Cost:</td>
                    <td>Free</td>
                  </tr>
                  <tr class="color-fix">
                    <td>Category :</td>
                    <td>Life Style dance</td>
                  </tr>
                </table>
              </div> 
            </div>
            <div class="col-md-6">
              <div class="details-box">
                <h6 class="box-title">Event Details</h6>
                <table>
                  <tr>
                    <td>Address:</td>
                    <td>504 Lavaca Street, Suite 1000 Austin, TX 78701</td>
                  </tr>
                  <tr class="color-fix">
                    <td>Venue:</td>
                    <td>Austin Center Park</td>
                  </tr>
                  <tr class="color-fix">
                    <td>Link:</td>
                    <td>http://envato.com</td>
                  </tr>
                </table>
              </div> 
            </div>

            <div class="col-12">
              <div class="row no-gutters details-box">
                <div class="col-lg-5">
                  <div class="clearfix">
                    <h6 class="box-title">ORGANIZER</h6>
                    <table>
                      <tr>
                        <td>Name:</td>
                        <td>Mahfuz Riad</td>
                      </tr>
                      <tr>
                        <td>Tainer:</td>
                        <td>Evan Jack</td>
                      </tr>
                      <tr class="color-fix">
                        <td>Phone:</td>
                        <td>02 9292162</td>
                      </tr>
                      <tr class="color-fix">
                        <td>Email :</td>
                        <td>Event@gmail.com</td>
                      </tr>
                    </table>
                  </div> 
                </div>
                <div class="col-lg-7"><img src="../../../assets/images/shape/map.png" alt="" class="map"></div>
              </div>
            </div>
          </div> 
        </div>
      </div> 
    </div> 
  </div>

  <div class="section-spacing our-event">
    <div class="container">
      <div class="theme-title-one text-center">
        <h2 class="main-title">Related Events</h2>
      </div> 
      <div class="main-wrapper">
        <img src="../../../assets/images/shape/23.png" alt="" class="shape">
        <div class="table-responsive event-table">
            <table class="table">
                <tr>
                  <td class="date">21 September 2018 </td>
                  <td class="time">Sunday at 4:00 pm - 8:30 pm</td>
                  <td class="title">Renowned Dance Masters</td>
                  <td class="check-button"><a href="#">Check Event</a></td>
                </tr>
            </table>
        </div> 
        <div class="table-responsive event-table">
            <table class="table">
                <tr>
                  <td class="date">21 September 2018 </td>
                  <td class="time">Sunday at 4:00 pm - 8:30 pm</td>
                  <td class="title">DFW for graduate earnings vs cost</td>
                  <td class="check-button"><a href="#">Check Event</a></td>
                </tr>
            </table>
        </div> 
        <div class="table-responsive event-table">
            <table class="table">
                <tr>
                  <td class="date">23 September 2018 </td>
                  <td class="time">Sunday at 4:00 pm - 8:30 pm</td>
                  <td class="title">Texas Woman’s is a public university </td>
                  <td class="check-button"><a href="#">Check Event</a></td>
                </tr>
            </table>
        </div> 
      </div>
    </div> 
  </div> 

  <div class="section-spacing section-spacing-bottom">
    <div class="who-can-attend">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="theme-title-one">
              <h2 class="main-title">Who can attend?</h2>
            </div> 
            <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-video fancybox"> <span class="flaticon-003-play-button"></span></a>
          </div>
          <div class="col-lg-7">
            <div class="text">
              <p>Our mission is to INSPIRE each individual and instill an appreciation and love for the beautiful art of DANCE as well as the joy of PERFORMANCE. Voted ‘Best of Clark County 2016’ and CONVENIENTLY located in Salmon Creek, </p>
              <p>Dance Fusion SPECIALIZES in Ballet, Tap, Jazz, Contemporary, Hip Hop, Lyrical, Theater, Acro and Fitness for ages 3 to ageless!</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <app-scrollToTop></app-scrollToTop>
</div> 