<div class="main-page-wrapper">

  <div class="theme-inner-banner">
    <img src="../../../assets/images/shape/13.png" alt="" class="bg-shape">
    <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three">
    <div class="container">
      <h2 class="title">Portfolio</h2>
    </div>
  </div>

  <div class="section-spacing section-spacing-bottom">
    <div class="portfolio-section">
      <div class="container">
        <div class="theme-title-one text-center">
          <h2 class="main-title">We’ve done lot’s of work, Let’s Check <br>some from here</h2>
        </div> <!-- /.theme-title-one -->

        <ul class="isotop-menu-wrapper">
          <li class="is-checked" data-filter="*">All Work</li>
          <li data-filter=".creative">Creative Movement</li>
          <li data-filter=".ballet">Ballet</li>
          <li data-filter=".tap">Tap</li>
          <li data-filter=".jazz">Jazz</li>
          <li data-filter=".hiphop">Hip-Hop</li>
        </ul>

        <!-- Changes are made -->
        <div id="isotop-gallery-wrapper" class="row">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6 isotop-item ballet creative">
              <div class="single-item">
                <img src="../../../assets/images/portfolio/1.jpg" alt="Image">
                <div class="hover-content">
                  <div>
                    <h3>Musical Theatre</h3>
                    <p>Dance / Music</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12 isotop-item tap jazz ballet">
                  <div class="single-item">
                    <img src="../../../assets/images/portfolio/2.jpg" alt="Image">
                    <div class="hover-content">
                      <div>
                        <h3>Musical Theatre</h3>
                        <p>Dance / Music</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" col-xl-12 col-lg-12 col-sm-12 isotop-item tap jazz hiphop">
                  <div class="single-item">
                    <img src="../../../assets/images/portfolio/3.jpg" alt="Image">
                    <div class="hover-content">
                      <div>
                        <h3>Musical Theatre</h3>
                        <p>Dance / Music</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12 isotop-item tap jazz ballet">
                  <div class="single-item">
                    <img src="../../../assets/images/portfolio/2.jpg" alt="Image">
                    <div class="hover-content">
                      <div>
                        <h3>Musical Theatre</h3>
                        <p>Dance / Music</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" col-xl-12 col-lg-12 col-sm-12 isotop-item tap jazz hiphop">
                  <div class="single-item">
                    <img src="../../../assets/images/portfolio/3.jpg" alt="Image">
                    <div class="hover-content">
                      <div>
                        <h3>Musical Theatre</h3>
                        <p>Dance / Music</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-xl-6 col-lg-6 col-sm-6 isotop-item ballet jazz tap">
                <div class="single-item">
                  <img src="../../../assets/images/portfolio/6.jpg" alt="Image">
                  <div class="hover-content">
                    <div>
                      <h3>Musical Theatre</h3>
                      <p>Dance / Music</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="isotop-item full-column creative hiphop" style="padding: 0;">
            <div class="single-item">
              <img src="../../../assets/images/portfolio/7.jpg" alt="Image">
              <div class="hover-content">
                <div>
                  <h3>Musical Theatre</h3>
                  <p>Dance / Music</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-scrollToTop></app-scrollToTop>
</div>