.flaticon-001-shopping-bag:before {
	content: "\e001";
}
.flaticon-002-search:before {
	content: "\e002";
}
.flaticon-003-play-button:before {
	content: "\e003";
}
.flaticon-004-men-dancing:before {
	content: "\e004";
}
.flaticon-005-gymnast:before {
	content: "\e005";
}
.flaticon-006-ballerina:before {
	content: "\e006";
}
.flaticon-007-ballet:before {
	content: "\e007";
}
.flaticon-008-ballet-1:before {
	content: "\e008";
}
.flaticon-009-shopping-cart:before {
	content: "\e009";
}
.flaticon-010-next:before {
	content: "\e00a";
}
