<div class="main-page-wrapper">

  <!-- <div id="loader-wrapper">
    <div id="loader">
      <span class="loader-inner"></span>
    </div>
  </div> -->

  <div class="theme-inner-banner">
    <img src="../../../assets/images/shape/13.png" alt="" class="bg-shape">
    <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three">
    <div class="container">
      <h2 class="title">Blog List</h2>
    </div>
  </div>

  <div class="section-spacing section-spacing-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-8 col-12 blog-list">
          <div class="single-blog-post">
            <div class="img-box"><img src="../../../assets/images/blog/5.jpg" alt=""></div>
            <div class="post-meta">
              <ul class="date-meta">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> October 22, 2018</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> Mahfuz Riad</li>
                <li><i class="fa fa-comments" aria-hidden="true"></i> Comment 17</li>
              </ul>
              <h2 class="blog-title"><a href="blog-details.html">Musical Theatre is a performance based class focusing
                  on jazz</a></h2>
              <p>Musical Theatre is a performance-based class focusing on jazz technique and skills instrumental in
                Broadway-style choreography. Ballet and classical jazz exercises will be emphasized during center floor
                warm up.Ballet and classical jazz exercises will be emphasized</p>
              <a href="blog-details.html" class="read-more">Read More</a>
            </div>
          </div>
          <div class="single-blog-post">
            <div class="img-box"><img src="../../../assets/images/blog/6.jpg" alt=""></div>
            <div class="post-meta">
              <ul class="date-meta">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> October 22, 2018</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> Mahfuz Riad</li>
                <li><i class="fa fa-comments" aria-hidden="true"></i> Comment 17</li>
              </ul>
              <h2 class="blog-title"><a href="blog-details.html">The concurrent study of ballet is strongly recommended
                  for all jazz </a></h2>
              <p>Musical Theatre is a performance-based class focusing on jazz technique and skills instrumental in
                Broadway-style choreography. Ballet and classical jazz exercises will be emphasized during center floor
                warm up.Ballet and classical jazz exercises will be emphasized</p>
              <a href="blog-details.html" class="read-more">Read More</a>
            </div>
          </div>
          <div class="single-blog-post">
            <div class="img-box"><img src="../../../assets/images/blog/7.jpg" alt=""></div>
            <div class="post-meta">
              <ul class="date-meta">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> October 22, 2018</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> Mahfuz Riad</li>
                <li><i class="fa fa-comments" aria-hidden="true"></i> Comment 17</li>
              </ul>
              <h2 class="blog-title"><a href="blog-details.html">Creative Movement focuses on body part identification,
                  free expression</a></h2>
              <p>Musical Theatre is a performance-based class focusing on jazz technique and skills instrumental in
                Broadway-style choreography. Ballet and classical jazz exercises will be emphasized during center floor
                warm up.Ballet and classical jazz exercises will be emphasized</p>
              <a href="blog-details.html" class="read-more">Read More</a>
            </div>
          </div>
          <div class="single-blog-post">
            <div class="img-box">
              <img src="../../../assets/images/blog/8.jpg" alt="">
              <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-video fancybox"> <span
                  class="flaticon-003-play-button"></span></a>
            </div>
            <div class="post-meta">
              <ul class="date-meta">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> October 22, 2018</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> Mahfuz Riad</li>
                <li><i class="fa fa-comments" aria-hidden="true"></i> Comment 17</li>
              </ul>
              <h2 class="blog-title"><a href="blog-details.html">Pre-Ballet (4 - 8 years) Video</a></h2>
              <p>Musical Theatre is a performance-based class focusing on jazz technique and skills instrumental in
                Broadway-style choreography. Ballet and classical jazz exercises will be emphasized during center floor
                warm up.Ballet and classical jazz exercises will be emphasized</p>
              <a href="blog-details.html" class="read-more">Read More</a>
            </div>
          </div>
          <div class="single-blog-post">
            <div class="img-box"><img src="../../../assets/images/blog/9.jpg" alt=""></div>
            <div class="post-meta">
              <ul class="date-meta">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> October 22, 2018</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> Mahfuz Riad</li>
                <li><i class="fa fa-comments" aria-hidden="true"></i> Comment 17</li>
              </ul>
              <h2 class="blog-title"><a href="blog-details.html">The Alvin Ailey Dance Foundation </a></h2>
              <p>Musical Theatre is a performance-based class focusing on jazz technique and skills instrumental in
                Broadway-style choreography. Ballet and classical jazz exercises will be emphasized during center floor
                warm up.Ballet and classical jazz exercises will be emphasized</p>
              <a href="blog-details.html" class="read-more">Read More</a>
            </div>
          </div>

          <div class="theme-pagination">
            <ul>
              <li class="active"><a href="#">01</a></li>
              <li><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li><a href="#">04</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-12 theme-siddebar">
          <div class="sidebar-data sidebar-search">
            <form action="#">
              <input type="text" placeholder="Search">
              <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
          <div class="sidebar-data sidebar-list">
            <ul>
              <li class="active"><a href="#">Corporate <span>12</span></a></li>
              <li><a href="#">Latest News <span>09</span></a></li>
              <li><a href="#">Web Design <span>13</span></a></li>
              <li><a href="#">Performance <span>15</span></a></li>
              <li><a href="#">Dance Studio <span>17</span></a></li>
              <li><a href="#">Life Style <span>05</span></a></li>
            </ul>
          </div>
          <div class="sidebar-data sidebar-recent-post">
            <ul>
              <li>
                <div class="tag">TRANSPARENT BUSINESS</div>
                <a href="#" class="title">Engagement beyond the boardroom</a>
                <div class="date">May 2018</div>
                <a href="#" class="read-more">Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </li>
              <li>
                <div class="tag">TRANSPARENT BUSINESS</div>
                <a href="#" class="title">Engagement beyond the boardroom</a>
                <div class="date">May 2018</div>
                <a href="#" class="read-more">Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="sidebar-key">
            <h6 class="key-title">Staff Contacts</h6>
            <ul>
              <li>
                <a href="#">Steven J. Joffe</a>
                <p>Senior Managing Director</p>
              </li>
              <li>
                <a href="#">Larry Portal</a>
                <p>Senior Managing Director</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-scrollToTop></app-scrollToTop>
</div>