<div id="top">
  <div class="main-page-wrapper">

    <div id="theme-main-banner" class="banner-one">
      <div class="banner-image">
        <div class="camera_caption">
          <div class="container">
            <h1 class="wow fadeInUp animated">Siddhi Nrityakala Mandir</h1>
            <p class="wow fadeInUp animated" data-wow-delay="0.5s">Nrityalankar Mrs. Shraddha Bhide started
              her incredible journey of the Kathak art
              form at the tender age of 8 years under the able guidance and mentorship of
              Guru Sangeetacharya Mrs. Vaishali Dudhe. She has been a consistent and
              dedicated learner over the years. Her commitment to the art form is a benchmark
              for the fellow students.</p>

            <a href="#" class="read-more wow fadeInLeft animated" data-wow-delay="0.8s">Read More
              <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>

          </div>
        </div>
      </div>
      <!-- <div data-src="../../../assets/images/home/slide-2.jpg">
            <div class="camera_caption">
              <div class="container">
                <h1 class="wow fadeInUp animated">Dance With you heart <br>We Can Dance</h1>
                <p class="wow fadeInUp animated" data-wow-delay="0.5s">Established in 1940, Dancerio Dance
                  Studio has become a center for dance students <br> with professional aspirations</p>
      
                <a href="index.html" class="read-more wow fadeInLeft animated" data-wow-delay="0.8s">Read More
                  <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                  class="play-video fancybox wow fadeInRight animated" data-wow-delay="0.8s"> <span
                    class="flaticon-003-play-button"></span>Play Now Video </a>
              </div>
            </div>
          </div>
          <div data-src="images/home/slide-3.jpg">
            <div class="camera_caption">
              <div class="container">
                <h1 class="wow fadeInUp animated">Dance With you heart <br>We Can Dance</h1>
                <p class="wow fadeInUp animated" data-wow-delay="0.5s">Established in 1940, Dancerio Dance
                  Studio has become a center for dance students <br> with professional aspirations</p>
      
                <a href="index.html" class="read-more wow fadeInLeft animated" data-wow-delay="0.8s">Read More
                  <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
                <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                  class="play-video fancybox wow fadeInRight animated" data-wow-delay="0.8s"> <span
                    class="flaticon-003-play-button"></span>Play Now Video </a>
              </div>
            </div>
          </div> -->
    </div>

    <div class="section-spacing our-feature-one">
      <img src="../../../assets/images/shape/1.png" alt="" class="shape">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="theme-title-one">
              <h6 class="upper-title">Our Goal </h6>
              <h2 class="main-title">Dnce Academy offers quality dance instruction done with care</h2>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-block" data-aos="fade-up" data-aos-delay="150">
              <h6>Mission </h6>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="single-block" data-aos="fade-up" data-aos-delay="250">
              <h6>Vision</h6>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-spacing about-us">
      <img src="../../../assets/images/shape/3.png" alt="" class="shape-two">
      <div class="main-container clearfix">
        <div class="inner-container left-content">
          <img src="../../../assets/images/shape/2.png" alt="" class="shape" data-aos="zoom-in-up"
            data-aos-duration="1000" data-aos-delay="150">
          <div class="inner-col">
            <div class="img-box">
              <div class="dot" data-aos="fade-up" data-aos-delay="150"></div>
              <div class="dot" data-aos="fade-up" data-aos-delay="350"></div>
              <div class="dot" data-aos="fade-up" data-aos-delay="550"></div>
              <div class="dot" data-aos="fade-up" data-aos-delay="750"></div>
              <img src="../../../assets/images/home/1.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="inner-container right-content">
          <div class="wrapper">
            <div class="theme-title-one">
              <h6 class="upper-title">Katthak Dance Form</h6>
              <h2 class="main-title">Join A Global Dance Community</h2>
            </div>
            <p>Lorem Ipsum proin gravida nibivel velit auctor aenean velitsol licitu Lorem Ipsum proin
              gravida nibivel velit auctor aenean velitsol licitu Lorem Ipsum proin gravida nibivel velit
              auctor aenean velitsol licitu</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-spacing">
      <div class="our-fact">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="main-title">Last year we proved that we’re the best Dance Services </h2>
            </div>
            <div class="col-lg-6">
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="counter-section">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="single-counter-box">
                      <h2 class="number"><span class="timer" data-from="0" data-to="20" data-speed="1200"
                          data-refresh-interval="5">0</span>+</h2>
                      <p>Certified Trainer</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="single-counter-box">
                      <h2 class="number"><span class="timer" data-from="0" data-to="1300" data-speed="1200"
                          data-refresh-interval="5">0</span>+</h2>
                      <p>Verified Happy Client</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="single-counter-box">
                      <h2 class="number"><span class="timer" data-from="0" data-to="150" data-speed="1200"
                          data-refresh-interval="5">0</span>+</h2>
                      <p>Time Award Winner</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="single-counter-box">
                      <h2 class="number"><span class="timer" data-from="0" data-to="280" data-speed="1200"
                          data-refresh-interval="5">0</span>+</h2>
                      <p>Features added</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-12">
              <div class="strategy-section">
                <div class="row">
                  <div class="col-sm-6 strategy-block">
                    <div>
                      <div class="icon"><i class="flaticon-007-ballet"></i></div>
                      <h6>Dance Schedule</h6>
                      <p>Find out what's happening by viewing our full schedule of classes.</p>
                    </div>
                  </div>
                  <div class="col-sm-6 strategy-block">
                    <div>
                      <div class="icon"><i class="flaticon-008-ballet-1"></i></div>
                      <h6>Professional dance</h6>
                      <p>Find out what's happening by viewing our full schedule of classes.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-spacing">
      <div class="client-section">
        <div class="theme-title-one text-center">
          <h6 class="upper-title">Testimonials</h6>
          <h2 class="main-title">What Our Customers <br>Are Saying!!</h2>
        </div>
        <div class="wrapper">
          <div class="client-slider">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="item">
                  <div class="text-wrapper">
                    <p>{{bioDesc.faculty1shortDesc}}</p>
                    <img src="../../../assets/images/home/3.jpg" alt="">
                    <h6>{{bioDesc.firstFaculty}}</h6>
                    <span>{{bioDesc.profession}}</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="item">
                  <div class="text-wrapper">
                    <p>{{bioDesc.faculty2shortDesc}}</p>
                    <img src="../../../assets/images/home/3.jpg" alt="">
                    <h6>{{bioDesc.secondFaculty}}</h6>
                    <span>{{bioDesc.profession}}</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-sm-6">
                <div class="item">
                  <div class="text-wrapper">
                    <p>{{bioDesc.faculty3shortDesc}}</p>
                    <img src="../../../assets/images/home/3.jpg" alt="">
                    <h6>{{bioDesc.thirdFaculty}}</h6>
                    <span>{{bioDesc.profession}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-spacing">
      <div class="our-team">
        <img src="../../../assets/images/shape/1.png" alt="" class="shape">
        <div class="container">
          <div class="theme-title-two">
            <h2 class="main-title">Executive Team</h2>
            <p>All We Do Begins With Your Story and Ends With Your Success!</p>
            <a href="#" class="theme-button-two">See all members <span></span></a>
          </div>
        </div>

        <div class="main-content">
          <div class="team-slider">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="item">
                  <div class="single-team-member">
                    <div class="img-box"  (click)="scrollTo('item1')">
                      <img style="width:370px;height: 400px;border-radius: 5px;background-position: center;background-size: cover;" src='../../../assets/images/SNM faculties/Divya Saraf.jpg' alt="">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="text">
                      <h6>{{bioDesc.firstFaculty}}</h6>
                      <p>{{bioDesc.profession}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="item">
                  <div class="single-team-member">
                    <div class="img-box" (click)="scrollTo('item2')">
                      <img style="width:370px;height: 400px;border-radius: 5px;background-position: center;background-size: cover;" src="../../../assets/images/SNM faculties/Amruta Joshi.jpg" alt="">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="text">
                      <h6>{{bioDesc.secondFaculty}}</h6>
                      <p>{{bioDesc.profession}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="item">
                  <div class="single-team-member">
                    <div class="img-box" (click)="scrollTo('item3')">
                      <img style="width:370px;height: 400px;border-radius: 5px;" src="../../../assets/images/SNM faculties/Rashmi Pol.jpg" alt="">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="text">
                      <h6>{{bioDesc.thirdFaculty}}</h6>
                      <p>{{bioDesc.profession}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="item">
                  <div class="single-team-member">
                    <div class="img-box" (click)="scrollTo('item4')">
                      <img style="width:370px;height: 400px;border-radius: 5px;" src="../../../assets/images/SNM faculties/Ashwarya Chodnekar.JPG" alt="">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="text">
                      <h6>{{bioDesc.forthFaculty}}</h6>
                      <p>{{bioDesc.profession}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-whatsapp></app-whatsapp> -->
    <app-scrollToTop></app-scrollToTop>

  </div>
</div>