<div class="main-page-wrapper">


  <div class="theme-inner-banner" style="background-size: cover;">
    <img style="width: 100%;" src="../../../assets/images/Shraddha_Bhide/Z89A8466.JPG" alt="" class="bg-shape">
    <div class="container">
      <h2 class="title text-white">Founder</h2>
    </div>
  </div>

  <div class="section-spacing section-spacing-bottom" style="background:grey;">
    <div class="portfolio-section">
      <div class="container bg-dark text-white rounded">
        <!-- <h1 class="pt-5 pl-5 text-white">Founder</h1> -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-sm-12">
            <article class="m-5">
              <h2 class="text-white">Nrityalankar Mrs. Shraddha Bhide</h2><br>

              <p class="">An Outstanding Patron of Kathak Art Form
                Nrityalankar Mrs. Shraddha Bhide started her incredible journey of the Kathak art form at the tender age
                of 8 years under the able guidance and mentorship of Guru Sangeetacharya Mrs. Vaishali Dudhe. She has
                been
                a consistent and dedicated learner over the years. Her commitment to the art form is a benchmark for the
                fellow students.</p><br>

              <ul class="pl-3">Her accreditations in Kathak are:
                <li type="circle">
                  <strong>Alankar (M.A) in Kathak dance</strong>from Akhil Bhartiya Gandharva Mahavidyalaya (Dec, 2008)
                </li>
                <li type="circle">
                  <strong>Visharad (B.A) in Kathak dance</strong>from Akhil Bhartiya Gandharva Mahavidyalaya (April,
                  2004)
                </li>
                <li type="circle">
                  <strong>M.A in Kathak</strong>M.A in Kathak dance from Kavikulaguru Kalidas University, Ramtek in 2019
                  with First Class
                </li>
              </ul><br>

              <p>
                Her multi-talented personality reflects in her strong academic background as well. She holds a Masters
                in Management Studies (HR Specialisation) and a Bachelors in Science (Chemistry Specialisation).
              </p> <br>

              <p class="font-weight-bold">
                “No person was ever honoured for what he received.
                Honour has been the reward for what he gave”
              </p>
              <br>
              <p>
                True to these words of wisdom, she took it on herself to share and spread the knowledge gained across
                years. She founded a Kathak Dance institute - “Siddhi Nrityakala Mandir” in the year 2006. Her aim to
                share the joy of learning the rich Kathak art form has gained steady momentum over the years. Currently
                her institute trains more than 300 students in Kathak Dance form. Under her able guidance, many students
                have undergone a complete transformation and have achieved hordes of success in Kathak art form.
              </p> <br>


              In her untiring pursuit of achieving excellence in the art form, she has choreographed many famous dance
              programmes like:

              <ul class="pl-3">
                <li type="circle">
                  “Nrityavilaya – A Kathak Fusion” - A unique experiment of converging diverse Dance forms like Korean,
                  Belly, Sufi, Contemporary, Tap Dance with Kathak.
                </li>
                <li type="circle">
                  “Krishnarang” - Dance act depicting the different folds of dramatic life of Lord Krishna like “Putna
                  Vadh”, “Govardhan Leela”, “Kalia Daman”, “Kansa Vadh”, “Draupadi Vastraharan”.
                </li>
                <li type="circle">
                  “Nisargarang” – Dance performances showcasing the forms of Mother Nature.
                </li>
                <li type="circle">
                  “Guru Archana” – A performance showing respect to Gods & Goddesses.
                </li>
                <li type="circle">
                  “Stree Gatha” – A dance representation on the various facets of a “Woman”.
                </li>

              </ul>
              <br>

              <p>
                Her solo performances in national as well as international forums have been appreciated by the
                connoisseurs of the art form.

                Mrs. Shraddha Bhide is also an honorary examiner for Akhil Bhartiya Gandharva Mahavidyalaya, Miraj. She
                has been a honorary judge for prestigious competitions organized by the Innerwheel Club, Rotary Club,
                Lions Club, Lokmat Sakhi Manch, SVKM Performing Arts Institute & Inter school and Inter College
                Competitions.

                With the blessings of Lord Natraja, she aspires to continue being a torch bearer, for spreading the joy
                of Kathak art form to all who value and cherish the same.
              </p>


            </article>
          </div>

        </div>
      </div>
    </div>
  </div>

  <app-whatsapp></app-whatsapp>
  <app-scrollToTop></app-scrollToTop>
</div>