<div class="main-page-wrapper">


  <div class="theme-inner-banner">
    <img src="../../../assets/images/shape/13.png" alt="" class="bg-shape">
    <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three">
    <div class="container">
      <h2 class="title">Pre-Ballet (4 - 8 years) Video</h2>
    </div>
  </div>

  <div class="section-spacing section-spacing-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-8 col-12 blog-details">
          <div class="single-blog-post">
            <div class="img-box"><img src="../../../assets/images/blog/10.jpg" alt=""></div>
            <div class="post-meta">
              <ul class="date-meta">
                <li><i class="fa fa-clock-o" aria-hidden="true"></i> October 22, 2018</li>
                <li><i class="fa fa-user" aria-hidden="true"></i> Mahfuz Riad</li>
                <li><i class="fa fa-comments" aria-hidden="true"></i> Comment 17</li>
              </ul>
              <h2 class="blog-title">Musical Theatre is a performance based class focusing on jazz</h2>
              <p>Musical Theatre is a performance-based class focusing on jazz technique and skills instrumental in
                Broadway-style choreography. Ballet and classical jazz exercises will be emphasized during center floor
                warm up. Across the floor exercises will develop a variety of turns and leaps. Students will learn
                original choreography from some of Broadway's most celebrated choreographers, covering a wide range of
                musical theatre eras and styles</p>
              <p>Modern dance is a form of movement that draws upon ballet, jazz, yoga, Pilates, and many more styles of
                dance and athletics. Modern is focused on creating new and unique forms of movement and expression,
                without the codified steps required in ballet. Certain stylized forms of modern that will be introduced
                in class include techniques from visionaries such as Alvin Ailey, </p>
              <blockquote>Students experience a variety of tap styles with strong emphasis on technique and performance.
              </blockquote>
              <p>Instructors focus on the rhythm tap style, with influences of tap masters such as Brenda Bufalino and
                Sam Weber. Our tap training can begin as early as Kindergarten age, where students are introduced to
                elementary rhythms and use of the body, legs and feet in basic tap steps. As students mature and
                progress, increasingly demanding technical exercises and complex routines are taught. Students are given
                some musical and historical context for better understanding of jazz music and tap dance as an American
                artistic expression</p>
              <ul class="tags">
                <li><a href="#">dances</a></li>
                <li><a href="#">marketing</a></li>
                <li><a href="#">development</a></li>
              </ul>

              <div class="clearfix bottom-widget">
                <ul class="social-icon">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                </ul>

                <ul class="user-data">
                  <li><i class="fa fa-comment-o" aria-hidden="true"></i> <a href="#">26 Comment</a></li>
                  <li><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">36 Like</a></li>
                </ul>
              </div>
            </div> <!-- /.post-meta -->

            <div class="author-text clearfix">
              <img src="../../../assets/images/blog/11.jpg" alt="">
              <div class="text">
                <h6 class="name">Mahfuz Riad</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                </p>
              </div>
            </div> <!-- /.author-text -->

            <div class="comment-area">
              <h6 class="title">3 comments</h6>
              <div class="single-comment clearfix">
                <img src="../../../assets/images/blog/12.jpg" alt="">
                <div class="comment">
                  <h6>Ghost Riad</h6>
                  <div class="date">- 12 September 2018</div>
                  <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test</p>
                  <a href="#" class="reply">Reply</a>
                </div> <!-- /.commnet -->
              </div> <!-- /.single-comment -->
              <div class="single-comment reply-comment clearfix">
                <img src="../../../assets/images/blog/13.jpg" alt="">
                <div class="comment">
                  <h6>Mahfuz</h6>
                  <div class="date">- 12 September 2018</div>
                  <p>Lorem ipsum dolor sit amet</p>
                  <a href="#" class="reply">Reply</a>
                </div> <!-- /.commnet -->
              </div> <!-- /.single-comment -->
              <div class="single-comment clearfix">
                <img src="../../../assets/images/blog/14.jpg" alt="">
                <div class="comment">
                  <h6>Firco hak</h6>
                  <div class="date">- 12 September 2018</div>
                  <p>qui blandit praesent luptatum zril delenit augue duis dolore te feugait nulla.</p>
                  <a href="#" class="reply">Reply</a>
                </div> <!-- /.commnet -->
              </div> <!-- /.single-comment -->
            </div> <!-- /.comment-area -->

            <div class="comment-form">
              <h6 class="title">Post a Comment</h6>
              <form action="#">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
                <textarea placeholder="Comment"></textarea>
                <button>Submit</button>
              </form>
            </div> <!-- /.comment-form -->
          </div> <!-- /.single-blog -->
        </div> <!-- /.blog-list -->

        <div class="col-xl-3 col-lg-4 col-md-6 col-12 theme-siddebar">
          <div class="sidebar-data sidebar-search">
            <form action="#">
              <input type="text" placeholder="Search">
              <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div> <!-- /.sidebar-search -->
          <div class="sidebar-data sidebar-list">
            <ul>
              <li class="active"><a href="#">Corporate <span>12</span></a></li>
              <li><a href="#">Latest News <span>09</span></a></li>
              <li><a href="#">Web Design <span>13</span></a></li>
              <li><a href="#">Performance <span>15</span></a></li>
              <li><a href="#">Dance Studio <span>17</span></a></li>
              <li><a href="#">Life Style <span>05</span></a></li>
            </ul>
          </div> <!-- /.sidebar-list -->
          <div class="sidebar-data sidebar-recent-post">
            <ul>
              <li>
                <div class="tag">TRANSPARENT BUSINESS</div>
                <a href="#" class="title">Engagement beyond the boardroom</a>
                <div class="date">May 2018</div>
                <a href="#" class="read-more">Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </li>
              <li>
                <div class="tag">TRANSPARENT BUSINESS</div>
                <a href="#" class="title">Engagement beyond the boardroom</a>
                <div class="date">May 2018</div>
                <a href="#" class="read-more">Read more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div> <!-- /.sidebar-recent-post -->
          <div class="sidebar-key">
            <h6 class="key-title">Staff Contacts</h6>
            <ul>
              <li>
                <a href="#">Steven J. Joffe</a>
                <p>Senior Managing Director</p>
              </li>
              <li>
                <a href="#">Larry Portal</a>
                <p>Senior Managing Director</p>
              </li>
            </ul>
          </div> >
        </div>
      </div>
    </div>
  </div>

  <app-scrollToTop></app-scrollToTop>
</div>