<div class="main-page-wrapper">

  
  <div class="theme-inner-banner">
    <img src="../../../assets/images/shape/13.png" alt="" class="bg-shape">
    <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three">
    <div class="container">
      <h2 class="title">Our Studio</h2>
    </div> 
  </div> 
  
  <div class="section-spacing our-feature-one">
    <img src="../../../assets/images/shape/1.png" alt="" class="shape">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="theme-title-one">
            <h6 class="upper-title">OUTSTANDING performance </h6>
            <h2 class="main-title">Dnce Academy offers quality dance instruction done with care</h2>
          </div> <!-- /.theme-title-one -->
          <a href="#" class="theme-button-one button--tamaya color-one" data-text="Learn More"><span>Learn More</span></a>
        </div> <!-- /.col- -->
        <div class="col-lg-6">
          <div class="single-block" data-aos="fade-up" data-aos-delay="150">
            <h6>Pre-Ballet </h6>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="single-block" data-aos="fade-up" data-aos-delay="250">
            <h6>Musical Theatre</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div> 
    </div> 
  </div> 
  
  <div class="section-spacing">
    <div class="who-can-attend">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="theme-title-one">
              <h2 class="main-title">Who can attend?</h2>
            </div> 
            <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-video fancybox"> <span class="flaticon-003-play-button"></span></a>
          </div>
          <div class="col-lg-7">
            <div class="text">
              <p>Our mission is to INSPIRE each individual and instill an appreciation and love for the beautiful art of DANCE as well as the joy of PERFORMANCE. Voted ‘Best of Clark County 2016’ and CONVENIENTLY located in Salmon Creek, </p>
              <p>Dance Fusion SPECIALIZES in Ballet, Tap, Jazz, Contemporary, Hip Hop, Lyrical, Theater, Acro and Fitness for ages 3 to ageless!</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  
  <div class="section-spacing">
    <div class="our-fact">
      <div class="container">
        <div class="row">
          <div class="col-lg-6"><h2 class="main-title">Last year we proved that we’re the best Dance Services </h2></div>
          <div class="col-lg-6"><p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="counter-section">
              <div class="row">
                <div class="col-sm-6">
                  <div class="single-counter-box">
                        <h2 class="number"><span class="timer" data-from="0" data-to="20" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                        <p>Certified Trainer</p>
                      </div> 
                </div>
                <div class="col-sm-6">
                  <div class="single-counter-box">
                        <h2 class="number"><span class="timer" data-from="0" data-to="1300" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                        <p>Verified Happy Client</p>
                      </div> 
                </div>
                <div class="col-sm-6">
                  <div class="single-counter-box">
                        <h2 class="number"><span class="timer" data-from="0" data-to="150" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                        <p>Time Award Winner</p>
                      </div> 
                </div>
                <div class="col-sm-6">
                  <div class="single-counter-box">
                        <h2 class="number"><span class="timer" data-from="0" data-to="280" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                        <p>Features added</p>
                      </div> 
                </div>
              </div>
            </div> 
          </div> 

          <div class="col-lg-6 col-12">
            <div class="strategy-section">
              <div class="row">
                <div class="col-sm-6 strategy-block">
                  <div>
                    <div class="icon"><i class="flaticon-007-ballet"></i></div>
                    <h6>Dance Schedule</h6>
                    <p>Find out what's happening by viewing our full schedule of classes.</p>
                  </div>
                </div> 
                <div class="col-sm-6 strategy-block">
                  <div>
                    <div class="icon"><i class="flaticon-008-ballet-1"></i></div>
                    <h6>Professional dance</h6>
                    <p>Find out what's happening by viewing our full schedule of classes.</p>
                  </div>
                </div> 
              </div> 
            </div> 
          </div>
        </div> 
      </div> 
    </div> 
  </div> 

  <div class="section-spacing">
    <div class="join-our-team">
      <img src="../../../assets/images/shape/17.png" alt="" class="shape">
      <div class="clearfix">
        <div class="row no-gutters">
          <div class="col-md-6">
            <div class="join-team">
              <div class="overlay">
                <h2 class="title">Join The Team</h2>
                <p>Explore openings at Smartly.io around the world and join our team of Humble Hungry Hunters.</p>
                <a href="#" class="inner-button">Sign Up</a>
              </div> 
            </div> 
          </div>
          <div class="col-md-6">
            <div class="meet-events">
              <div class="overlay">
                <h2 class="title">Meet Us At Events</h2>
                <p>Explore openings at Smartly.io around the world and join our team of Humble Hungry Hunters.</p>
                <a href="#" class="inner-button">Check Events</a>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </div> 
  </div> 

  <div class="section-spacing">
    <div class="client-section">
      <div class="theme-title-one text-center">
        <h6 class="upper-title">Testimonials</h6>
        <h2 class="main-title">What Our Customers <br>Are Saying!!</h2>
      </div> 
      <div class="wrapper">
        <div class="client-slider">
          <div class="item">
            <div class="text-wrapper">
              <p>“My 9 year old shuffle-ball-steps her way through the day, twirls in the checkout line and chasses to the bus! Thank you for the incredible role models & opportunity. We Love You!”</p>
              <img src="../../../assets/images/home/3.jpg" alt="">
              <h6>Mahfuz RIad</h6>
              <span>Founder</span>
            </div>
          </div>
          <div class="item">
            <div class="text-wrapper">
              <p>“My 9 year old shuffle-ball-steps her way through the day, twirls in the checkout line and chasses to the bus! Thank you for the incredible role models & opportunity. We Love You!”</p>
              <img src="../../../assets/images/home/3.jpg" alt="">
              <h6>Mahfuz RIad</h6>
              <span>Founder</span>
            </div>
          </div>
          <div class="item">
            <div class="text-wrapper">
              <p>“My 9 year old shuffle-ball-steps her way through the day, twirls in the checkout line and chasses to the bus! Thank you for the incredible role models & opportunity. We Love You!”</p>
              <img src="../../../assets/images/home/3.jpg" alt="">
              <h6>Mahfuz RIad</h6>
              <span>Founder</span>
            </div>
          </div>
        </div> 
      </div> 
    </div> 
  </div>

  <div class="section-spacing">
    <div class="our-teachers">
      <img src="../../../assets/images/shape/19.png" alt="" class="main-shape">
      <div class="container">
        <div class="theme-title-two">
          <h2 class="main-title">Talent Dance Teacher</h2>
          <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
        </div> 

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-teacher-block">
              <div class="img-box">
                <img src="../../../assets/mages/team/5.jpg" alt="" class="team">
                <img src="../../../assets/images/shape/18.png" alt="" class="shape">
                <a href="#" class="more">+</a>
              </div>
              <div class="text">
                <h6>Kathy Portello</h6>
                <p>Head Teacher</p>
              </div>
            </div> 
          </div> 
          <div class="col-lg-4 col-md-6">
            <div class="single-teacher-block">
              <div class="img-box">
                <img src="../../../assets/images/team/6.jpg" alt="" class="team">
                <img src="../../../assets/images/shape/18.png" alt="" class="shape">
                <a href="#" class="more">+</a>
              </div>
              <div class="text">
                <h6>Mahfuz Riad</h6>
                <p>Ballet</p>
              </div>
            </div> 
          </div> 
          <div class="col-lg-4 col-md-6">
            <div class="single-teacher-block">
              <div class="img-box">
                <img src="../../../assets/images/team/7.jpg" alt="" class="team">
                <img src="../../../assets/images/shape/18.png" alt="" class="shape">
                <a href="#" class="more">+</a>
              </div>
              <div class="text">
                <h6>Carliah Henry</h6>
                <p>Modern/Tap/Jazz</p>
              </div>
            </div> 
          </div> 
        </div>
      </div>
    </div> 
  </div>

  <div class="partent-logo-section">
    <div class="container">
      <div id="partner-logo">
        <div class="item"><img src="../../../assets/images/logo/1.png" alt="logo"></div>
        <div class="item"><img src="../../../assets/images/logo/2.png" alt="logo"></div>
        <div class="item"><img src="../../../assets/images/logo/3.png" alt="logo"></div>
        <div class="item"><img src="../../../assets/images/logo/4.png" alt="logo"></div>
      </div>
    </div>
  </div> 
  
  <app-scrollToTop></app-scrollToTop>
</div>