<div class="main-page-wrapper">

  <!-- <div id="loader-wrapper">
    <div id="loader">
      <span class="loader-inner"></span>
    </div>
  </div> -->

  <div class="theme-inner-banner">
    <img src="../../../assets/images/shape/13.png" alt="" class="bg-shape">
    <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three">
    <div class="container">
      <h2 class="title">Class details</h2>
    </div>
  </div>

  <div class="section-spacing section-spacing-bottom our-class-details">
    <div class="container">
      <img src="../../../assets/images/class/9.jpg" alt="" class="main-img">
      <h2 class="title">MODERN DANCE</h2>
      <p>Creative Movement focuses on body part identification, free expression, and spatial awareness. The child's
        natural movements are encouraged, while at the same time a rudimentary sense of order and form is introduced
        through controlled and sustained movements. Emphasis is placed on imagination,Our mission is to INSPIRE each
        individual and instill an appreciation and love for the beautiful art of DANCE as well as the joy of PERFORMANCE
      </p>
      <div class="row img-gallery">
        <div class="col-md-6"><img src="../../../assets/images/class/10.jpg" alt=""></div>
        <div class="col-md-6"><img src="../../../assets/images/class/11.jpg" alt=""></div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-6">
          <h6 class="sub-title">Dance Fusion is so proud of and excited about our performance teams and pre-professional
            company!</h6>
          <p>They are energetic, hard working, joyful and – most of all – they love to dance! We offer groups for all
            major dance styles including: Tap, Jazz, Contemporary, Lyrical, Ballet and Hip Hop For more information on
            participating in our performance group program, please refer to the Student Handbook (pdf) or call 029292162
          </p>
          <div class="who-can-attend">
            <div class="theme-title-one">
              <h2 class="main-title">Class attend video?</h2>
            </div> <!-- /.theme-title-one -->
            <a data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-video fancybox"> <span
                class="flaticon-003-play-button"></span></a>
          </div>
        </div>
        <div class="col-lg-5 col-md-6"><img src="../../../assets/images/class/12.jpg" alt=""></div>
      </div>

      <div class="class-schedule">
        <div class="row">
          <div class="col-md-6">
            <div class="schedule-table clearfix">
              <div class="date">
                <strong>24</strong>
                <span class="month">February</span>
              </div> <!-- /.date -->
              <div class="info">
                <div class="duration">18 Hours Class</div>
                <h6 class="class-ttile"><a href="#">Ballet students are exposed</a></h6>
                <div class="time">10:00 - 12:00 Mahfuz Riad</div>
              </div> <!-- /.info -->
            </div> <!-- /.schedule-table -->
            <div class="schedule-table clearfix">
              <div class="date">
                <strong>25</strong>
                <span class="month">February</span>
              </div> <!-- /.date -->
              <div class="info">
                <div class="duration">18 Hours Class</div>
                <h6 class="class-ttile"><a href="#">Beginner Dancehall </a></h6>
                <div class="time">10:00 - 12:00 jon crue</div>
              </div> <!-- /.info -->
            </div> <!-- /.schedule-table -->
            <div class="schedule-table clearfix">
              <div class="date">
                <strong>26</strong>
                <span class="month">February</span>
              </div> <!-- /.date -->
              <div class="info">
                <div class="duration">2 Hours Class</div>
                <h6 class="class-ttile"><a href="#">Balance Mind & Body</a></h6>
                <div class="time">10:00 - 12:00 Irina Pavlova</div>
              </div> <!-- /.info -->
            </div> <!-- /.schedule-table -->
            <div class="schedule-table clearfix">
              <div class="date">
                <strong>27</strong>
                <span class="month">February</span>
              </div> <!-- /.date -->
              <div class="info">
                <div class="duration">18 Hours Class</div>
                <h6 class="class-ttile"><a href="#">Ballet students are exposed</a></h6>
                <div class="time">10:00 - 12:00 Irina Pavlova</div>
              </div> <!-- /.info -->
            </div> <!-- /.schedule-table -->
          </div>

          <div class="col-md-6">
            <div class="schedule-table clearfix">
              <div class="date">
                <strong>28</strong>
                <span class="month">February</span>
              </div> <!-- /.date -->
              <div class="info">
                <div class="duration">18 Hours Class</div>
                <h6 class="class-ttile"><a href="#">Couple Salsa Dance</a></h6>
                <div class="time">10:00 - 12:00 Mahfuz Riad</div>
              </div> <!-- /.info -->
            </div> <!-- /.schedule-table -->
            <div class="schedule-table clearfix">
              <div class="date">
                <strong>15</strong>
                <span class="month">February</span>
              </div> <!-- /.date -->
              <div class="info">
                <div class="duration">18 Hours Class</div>
                <h6 class="class-ttile"><a href="#">Hip Hop Freestyle Dance</a></h6>
                <div class="time">10:00 - 12:00 jon crue</div>
              </div> <!-- /.info -->
            </div> <!-- /.schedule-table -->
            <div class="schedule-table clearfix">
              <div class="date">
                <strong>16</strong>
                <span class="month">February</span>
              </div> <!-- /.date -->
              <div class="info">
                <div class="duration">2 Hours Class</div>
                <h6 class="class-ttile"><a href="#">Ballet students are exposed</a></h6>
                <div class="time">10:00 - 12:00 Irina Pavlova</div>
              </div> <!-- /.info -->
            </div> <!-- /.schedule-table -->
            <div class="schedule-table clearfix">
              <div class="date">
                <strong>17</strong>
                <span class="month">February</span>
              </div> <!-- /.date -->
              <div class="info">
                <div class="duration">18 Hours Class</div>
                <h6 class="class-ttile"><a href="#">Ballet students are exposed</a></h6>
                <div class="time">10:00 - 12:00 Irina Pavlova</div>
              </div> <!-- /.info -->
            </div> <!-- /.schedule-table -->
          </div>
        </div>
      </div> <!-- /.class-schedule -->

      <div class="class-banner">
        <i class="flaticon-005-gymnast icon"></i>
        <img src="../../../assets/images/shape/21.png" alt="" class="shape">
        <h2>You will love coming to our dance class...</h2>
        <a href="#" class="schedul-button">Schedule Class</a>
      </div> <!-- /.class-banner -->
    </div>
  </div>


  <app-scrollToTop></app-scrollToTop>
</div>