<div class="main-page-wrapper">

  <div class="theme-inner-banner">
    <img src="../../../assets/images/shape/13.png" alt="" class="bg-shape">
    <img src="../../../assets/images/shape/14.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/15.png" alt="" class="shape-two">
    <img src="../../../assets/images/shape/16.png" alt="" class="shape-three">
    <div class="container">
      <h2 class="title">Faq</h2>
    </div>
  </div>

  <div class="section-spacing section-spacing-bottom faq-section">
    <div class="container">
      <div class="theme-title-one text-center">
        <h2 class="main-title">frequently asked question</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="title">Do I need a web hosting account?</div>
          <p>No. All Dnce plans include secure, unlimited hosting for your digital content. Site uses the best servers
            and networks to ensure your site is reliable and fast.</p>
          <div class="title">Are there any transaction fees?</div>
          <p>When you sell your products using the built-in payments in Kajabi, we don’t charge you a transaction fee.
            You can keep all the money you charge for your products aside from the standard Stripe merchant processing
            fee of 2.9% + 30 cents per transaction.</p>
          <div class="title">What happens if I want to cancel?</div>
          <p>If you ever decide that Name site isn’t the best digital content platform for your business, you can easily
            cancel your account.</p>
        </div>
        <div class="col-lg-6">
          <div class="title">Can I use my own domain?</div>
          <p>Yes. Your site can use an existing domain name that you own and we also provide a free mogh.com domain
            name.</p>
          <div class="title">Can I change my plan later on?</div>
          <p>Absolutely. You can upgrade or downgrade your plan at any time.</p>
          <div class="title">Is there a money back guarantee?</div>
          <p>Yes! If you cancel your account within the first 30 days, and you would like a refund, please let us know
            and we’ll happily issue you a refund.</p>
        </div>
      </div>
    </div>
  </div>

  <app-scrollToTop></app-scrollToTop>
</div>