.theme-inner-banner{
    padding: 265px 0 110px !important;
}

.payment_mode{
    
    .title{
        margin-bottom: 30px;
    }
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: grid;
}