
  <footer class="theme-footer-one">
    <img src="../../../assets/images/shape/11.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/12.png" alt="" class="shape-two">
    <div class="subscribe-form">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2>Be in the know with the latest update from <span>Dancerio</span></h2>
          </div>
          <div class="col-lg-4">
            <form action="#">
              <input type="email" placeholder="Enter your e-mail">
              <button><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12 about-widget">
            <a href="index.html" class="logo"><img src="../../../assets/images/logo/logo.png" alt=""></a>
            <p>Join Dancers Around The World Learning On Dancerio, Start Improving your dance skills today. </p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6 col-12 footer-news">
            <h5 class="title">Latest News</h5>
            <ul>
              <li>
                <a href="blog-details.html">Discover systematic ways to develop</a>
                <div class="date">21 August, 2018 / Business</div>
              </li>
              <li>
                <a href="blog-details.html">Install our mobile app on a smartphone</a>
                <div class="date">21 August, 2018 / Business</div>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-6 col-12 footer-list">
            <h5 class="title">Navigate</h5>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Customer</a></li>
              <li><a href="#">Member Forum</a></li>
              <li><a href="#">Collection</a></li>
              <li><a href="#">Events Calendar</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-2 col-sm-6 col-12 footer-information">
            <h5 class="title">Contact Info</h5>
            <ul>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> 201 Stokes Isle Apt. 896, New York 10010, United
                State</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> (+880)1 616481</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i> info@yourdomain.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <p>Copyrights 2018 © Unifytheme</p>
      </div>
    </div>
  </footer>