
  <footer class="theme-footer-one">
    <img src="../../../assets/images/shape/11.png" alt="" class="shape-one">
    <img src="../../../assets/images/shape/12.png" alt="" class="shape-two">
    <div class="subscribe-form">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2>Be in the know with the latest update from <span>SNM</span></h2>
          </div>
          <!-- <div class="col-lg-4">
            <form action="#">
              <input type="email" placeholder="Enter your e-mail">
              <button><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </form>
          </div> -->
        </div>
      </div>
    </div>
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12 about-widget">
            <a href="index.html" class="logo"><img style="height: 50px;" src='../../../../assets/images/logo/logo1.svg' alt=""></a>
            <p>Join Dancers Around The World Learning On SNM, Start Improving your dance skills today. </p>
            <ul>
              <li><a target="blank" href="https://www.facebook.com/SiddhiNrityakala/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a target="blank" href="https://www.youtube.com/channel/UCH_xxYdFQLuJIf-HhZzSfPg"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>              
              <li><a target="blank" href="https://instagram.com/siddhi_nrityakala_mandir?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-6 col-12 footer-news">
            <h5 class="title">Latest News</h5>
            <ul>
              <li>
                <a href="blog-details.html">Upcoming Event - Guru Pournima</a>
                <div class="date">23 JULY 2021 </div>
              </li>
              <!-- <li>
                <a href="blog-details.html">Check our WebSite</a>
                <div class="date">23 JULY 2021</div>
              </li> -->
            </ul>
          </div>
          <div class="col-lg-2 col-sm-6 col-12 footer-list">
            <h5 class="title">Navigate</h5>
            <ul>
              <li><a (click)="navigate('home')">Home</a></li>
              <li><a (click)="navigate('founder')">Founder</a></li>
              <li><a (click)="navigate('faculty')">Faculty</a></li>
              <li><a (click)="navigate('contact')">Contact</a></li>
              <li><a (click)="navigate('portfolio')">Portfolio</a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-2 col-sm-6 col-12 footer-information">
            <h5 class="title">Contact Info</h5>
            <ul>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shop no 1, Somdatta Society, Sector 15, Sanpada Rd, Navi Mumbai 400705</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>+91 9892956110</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>shraddhabhide16@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <p>Copyrights 2021 © yezman.com</p>
      </div>
    </div>
  </footer>